.carritoEntero {
    display: flex;
}

.imagenCarrito {
    width: 200px;
}

.itemsCarritoCompleto {
    display: flex;
    flex-wrap: wrap;
}

.itemCarrito {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    margin-left: 5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    width: 50%;
}

.itemCarritoTitulo {
    display: block;
    text-align: center;
}

.botones {
    width: 50%;
    margin-right: 5%;


}