/* CARTAS  */
.carta {
    margin: 10px;
    text-align: center;
}

.carta__titulo:hover {
    color: #1D8A26;
}

.carta__precio {
    display: flex;
    color: red;
    justify-content: flex-end;
    font-size: 1.5rem;
    margin-top: 10px;

}

/* CONTADOR / BOTONERA  */
.contador {
    display: flexbox;
    align-content: baseline;
}

.contador__botones {
    display: flex;
    justify-content: space-around;
}

.contador__num {
    margin: 10px;
    font-size: 1.5rem;
    justify-content: center;
}

.botoneraItemDetalle {
    display: flex;
    align-items: baseline;
    margin-top: 10px;
    flex-direction: column;

}

.botoneraItemDetalle button {
    margin-top: 10px;
}

/* ITEM DETAIL  */
.detallesComprar button {
    margin-left: 30px;
}

.itemDetail {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: auto;

}

.itemDetail__imagenes {
    width: 50%;
    display: flex;
    justify-content: center;
}

.itemDetail__imagenes__chicas {
    display: flex;

    flex-direction: column;
}

.itemDetail__imagenes__chicas img:hover {
    cursor: pointer;
    opacity: 60%;
}

.itemDetail__imagenes__chicas img {
    margin: auto 30px auto 25px;
    width: 85%;
}



.itemDetail__detalles {
    width: 50%;
    margin-right: 10rem;
}

.itemDetail__detalles h1 {
    font-size: 56px;
}

.itemDetail__detalles h2 {
    font-size: 46px;
    color: #45C44F;
}

/* LOADING  */
.cargando {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    flex-direction: column;
}

.link {
    text-decoration: none;
    color: black;
}