.carta {
    margin: 10px;
    text-align: center;
}

.carta__titulo:hover {
    color: #1D8A26;
}

.carta__precio {
    display: flex;
    color: red;
    justify-content: flex-end;
    font-size: 1.5rem;
    margin-top: 10px;

}

.contador {
    display: flexbox;
    align-content: baseline;
}

.contador__botones {
    display: flex;
    justify-content: space-around;
}

.itemDetail {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: auto;

}

.itemDetail__imagenes {
    width: 50%;
    display: flex;
    justify-content: center;

}



.itemDetail__detalles {
    width: 50%;
    margin-right: 10rem;
}

.itemDetail__detalles h1 {
    font-size: 56px;
}

.itemDetail__detalles h2 {
    font-size: 46px;
    color: #45C44F;
}

.link {
    text-decoration: none;
    color: black;
}

.cargando {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    flex-direction: column;
}

.botoneraItemDetalle {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}